@import './tokens.css';

/* Base document styles */
body {
    overscroll-behavior: none;
    overflow-x: hidden;
}
.navds-label {
    font-weight: var(--a-font-weight-regular);
}
* {
    text-underline-position: from-font;
    text-underline-offset: 0.1em;
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--a-font-family);
    font-weight: 300;
}
hr {
    border-color: var(--ax-border-neutral-subtle);
    border-style: solid;
    border-bottom: 0 none;
}
