@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@config '../../tailwind.config.ts';

:root {
  --ib-black: #121212;

  --ib-red-100: #F9CDD3;
  --ib-red-200: #F39BA7;
  --ib-red-300: #EC697A;
  --ib-red-400: #E6374E;
  --ib-red-base: #E00522;
  --ib-red-600: #B3041B;
  --ib-red-700: #860314;
  --ib-red-800: #5A020E;
  --ib-red-900: #2D0107;

  --ib-pink-100: #FFF2F7;
  --ib-pink-200: #FFE4EF;
  --ib-pink-300: #FFD7E8;
  --ib-pink-400: #FFC9E0;
  --ib-pink-base: #FFBCD8;
  --ib-pink-600: #CC96AD;
  --ib-pink-700: #997182;
  --ib-pink-800: #664B56;
  --ib-pink-900: #33262B;

  --bg-white: #FAFAF9;
  --bg-extra-light-pink: #FFF2F7; 
  --bg-light-pink: #FFE4EF;
  --bg-pink: #FFBCD8;
  --bg-dark-blue: #181756;
  --a-font-family: var(--font-mundial) !important;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--a-font-family);
  font-weight: 300;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

hr {
    border-color: darkgray;
    border-style: solid;
    border-bottom: 0 none;
}

.bg-white {
  background-color: var(--bg-white);
  color: black;
}

.bg-extra-light-pink {
  background-color: var(--bg-extra-light-pink);
  color: black;
}

.bg-light-pink {
  background-color: var(--bg-light-pink);
  color: black;
}

.bg-pink {
  background-color: var(--bg-pink);
  color: black;
}

.bg-dark-blue {
  background-color: var(--bg-dark-blue);
  color: white;
}