:root {
  --bg-white: #FAFAF9;
  --bg-extra-light-pink: #FFF2F7; 
  --bg-light-pink: #FFE4EF;
  --bg-pink: #FFBCD8;
  --bg-dark-blue: #181756;
  --a-font-family: var(--font-mundial) !important;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--a-font-family);
  font-weight: 300;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

hr {
    border-color: darkgray;
    border-style: solid;
    border-bottom: 0 none;
}

.bg-white {
  background-color: var(--bg-white);
  color: black;
}

.bg-extra-light-pink {
  background-color: var(--bg-extra-light-pink);
  color: black;
}

.bg-light-pink {
  background-color: var(--bg-light-pink);
  color: black;
}

.bg-pink {
  background-color: var(--bg-pink);
  color: black;
}

.bg-dark-blue {
  background-color: var(--bg-dark-blue);
  color: white;
}