.wrapper {
    margin: 0 auto;
    padding: 6rem 5.5rem;
    max-width: 1440px;
}

.panel {
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 24px;
}

.left {
    grid-column: col-start / var(--left-span, 7);
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.right {
    grid-column: col-start var(--left-span, 7) / -1;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}