.wrapper {
    margin: 0 auto;
    padding: 6rem 5.5rem;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 24px;
}

.content {
    grid-column: col-start / 13;
}