.linkPanel {
    border-radius: 100px;
    padding: 50px;
    --ac-panel-bg: var(--bg-pink);
    --ac-link-panel-text: black;
}

.linkPanel:not(:last-child) {
    margin-bottom: 1.5em;
}

.title {
    --a-font-family: var(--font-mundial) !important;
    display: flex;
    align-items: center;
    gap: 1rem;
}