.infoboxContainer {
    position: relative;
    padding-top: 15px;
    padding-right: 15px;
    filter: drop-shadow(0px 24px 44px rgba(88, 84, 106, 0.30));
}

.iconbox {
    background-color: var(--bg-dark-blue);
    height: 62px;
    width: 62px;
    border-radius: 100%;
    /* outline: 8px solid var(--bgColor); */
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox {
    border-radius: 72px;
    padding: 4rem 1.5rem;
    mask: radial-gradient(
        circle 1px at calc(100% - 16px) calc(0% + 16px),
        transparent 39px,
        purple 0
    );
}

.infobox li::marker {
    color: var(--bg-dark-blue);
}
