.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;

}

.wrapper>div {
    flex-basis: calc(50% - 0.5rem);
    flex-grow: 1;
    min-width: 275px
}
