.panel {
    border-radius: 24px;
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.panel>* {

}

.heading {
    width: calc(40% - 1rem);
}

.heading:nth-last-child(3) {
    width: 100%;
}

.card1 {
    flex-basis: calc(60% - 1rem);
    flex-grow: 1;
}

.card2 {
    flex-basis: calc(40% - 1rem);
    flex-grow: 1;
}

.card1.reverse {
    flex-basis: calc(40% - 1rem);
}

.card2.reverse {
    flex-basis: calc(60% - 1rem);
}